### 后端 ###
# 忽略 Java EE - SSM 项目的编译目录
/backend/target/
# 忽略编译后的 classes 目录
/backend/classes/
# 忽略编译后的 out 目录
/backend/out/

# 忽略 Maven Wrapper 的相关文件
.mvn/
mvnw
mvnw.cmd

### 前端 ###
# 忽略 Vue 项目的 node_modules 目录
/frontend/node_modules/
# 忽略 Node.js 的相关依赖文件
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

### IntelliJ IDEA ###
# 忽略 IntelliJ IDEA 的配置文件和目录
.idea/
*.iws
*.iml
*.ipr

### 其他 IDE ###
# STS（Spring Tool Suite）配置文件
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans 配置文件
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### 忽略其他文件 ###
# 忽略压缩文件
*.zip
# 忽略 Word 文档
*.docx
# 忽略 PDF 文件
*.pdf
# 忽略文本文件
*.txt
