<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Post持久层 -->
<mapper namespace="cn.hmck.mapper.PostMapper">

    <!-- 定义结果映射 -->
    <resultMap id="postResultMap" type="cn.hmck.entity.Post">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="content" column="content"/>
        <result property="mediaUrl" column="media_url"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <!-- 插入动态 -->
    <insert id="insertPost" parameterType="cn.hmck.entity.Post" >
        INSERT INTO er_post (user_id, content, media_url, like_count, comment_count, status)
        VALUES (#{userId}, #{content}, #{mediaUrl}, #{likeCount}, #{commentCount}, #{status})
    </insert>
    <!-- 根据用户ID查询动态 -->
    <select id="findPostsByUserId" parameterType="Integer" resultMap="postResultMap">
        SELECT *
        FROM er_post
        WHERE user_id = #{userId}
    </select>
    <!-- 更新动态 -->
    <update id="updatePost">
        UPDATE er_post
        <set>
            <if test="content != null">content = #{content},</if>
            <if test="mediaUrl != null">media_url = #{mediaUrl},</if>
            <if test="likeCount != null">like_count = #{likeCount},</if>
            <if test="commentCount != null">comment_count = #{commentCount},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>
    <!-- 根据动态ID删除动态 -->
    <delete id="deletePostById" parameterType="Integer">
        DELETE FROM er_post WHERE id = #{id}
    </delete>
    <!--获取所有动态-->
    <select id="getAllPost" resultMap="postResultMap">
        SELECT * FROM er_post
    </select>
</mapper>