<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--    1. 扫描 cn.hmck 包
            2. context:exclude-filter 配置说明 不扫描控制器 -->
    <!--<context:component-scan base-package="cn.hmck" use-default-filters="false">
    &lt;!&ndash; 只扫描 @Service  &ndash;&gt;
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
    </context:component-scan>-->

    <context:component-scan base-package="cn.hmck.service" />


    <!-- 配置数据源 -->
    <!-- 数据源配置 引入外部配置文件 : db.properties 放在 resources 下 -->
    <context:property-placeholder location="classpath:db.properties"/>
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--数据库驱动 -->
        <property name="driverClassName" value="${mysql.driver}" />
        <!--连接数据库的url -->
        <property name="url" value="${mysql.url}" />
        <!--连接数据库的用户名 -->
        <property name="username" value="${mysql.username}" />
        <!--连接数据库的密码 -->
        <property name="password" value="${mysql.password}" />
    </bean>

    <!-- 配置与 mybatis 的整合-->
    <!-- 配置 MyBatis 的 SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 指定 mybatis 全局配置文件的位置-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- 指定数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!-- 1. 指定 mybatis 的 mapper 的文件位置，扫描 mapper 下的所有 xml 文件
             2. 在类路径(resources 目录)下创建 mapper 目录，后面的 mapper 文件，就放在这里-->
        <property name="mapperLocations" value="classpath:cn.hmck.mapper/*.xml"/>
    </bean>
    <!-- 配置 MyBatis 的 Mapper 扫描器，将 mybatis 接口的实现加入到 ioc 容器中 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--  扫描所有的 mapper 接口的实现，加入到 ioc 容器中 -->
        <property name="basePackage" value="cn.hmck.mapper"/>
    </bean>
<!--
    &lt;!&ndash; 配置JDBC模板 &ndash;&gt;
    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        &lt;!&ndash; 默认必须使用数据源 &ndash;&gt;
        <property name="dataSource" ref="dataSource" />
    </bean>

    &lt;!&ndash; 事务管理器，依赖于数据源 &ndash;&gt;
    <bean id="transactionManager" class=
            "org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    &lt;!&ndash; 5.注册事务管理器驱动 &ndash;&gt;
    <tx:annotation-driven transaction-manager="transactionManager"/>
-->
<!--    <context:component-scan base-package="cn.hmck.service"/>-->
</beans>